@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 213, 160);
}

.title {
  margin: 5vh auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding: 0 20px;
}

.translator {
  margin: 10vh auto;
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

[class*="__text-title"] {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin: 15px;
}

textarea {
  resize: vertical;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .translator {
    flex-direction: column;
  }
}
